/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

/* Заголовки */
h2 {
    color: #4e2674;
}

/* Формы */
form {
    margin-bottom: 20px;
}

/* Стиль формы добавления расходов */
form.add-expense-form {
    display: flex;
    align-items: flex-end;
}

form.add-expense-form div {
    margin-right: 15px;
}

form.add-expense-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form.add-expense-form input[type="text"] {
    padding: 5px;
    width: 200px;
    box-sizing: border-box;
}

form.add-expense-form input[type="submit"] {
    padding: 7px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

form.add-expense-form input[type="submit"]:hover {
    background-color: #218838;
}

/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #007bff;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e9ecef;
}

/* Кнопка удаления */
form.delete-expense-form input[type="submit"] {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
}

form.delete-expense-form input[type="submit"]:hover {
    background-color: #c82333;
}